.NavbarItems {
    background: #1292c5 0%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem calc((100vw - 1000px) / 2);
    z-index: 12;
    position:relative;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.3);
  /* Third Nav */
  /* justify-content: flex-start; */
    }
  
  .NavbarItems h1 {
    margin-right: 0vw;
    color: white;
    font-size: 5vw;
  }

  .navbar-ul {
    width: 90%;
    float: left;
    list-style: none;
    margin: 0px;
    padding: 0;
  }
  li {
    display: inline;
    list-style: none;
    font-size: 2vmin;
    padding: 10px;
  }
  .nav-links {
    color: white;
    text-decoration: none;
  }

  .nav-links:hover {
    transition: all 0.2s ease-in-out;
    background: #fff;
    color: #808080;
  }

  /* added .welcome user and .nav-landingpage(and :hover) to allow clicking on ClassHub to navigate to dashboard without having noticeable visual effects on hover */
  .welcome-user {
    width: 200px;
    text-align: right;
    color: black;
    font-size: 10px;
    margin-right: 5px;
  }
  .nav-landingpage {
    margin-right: 10vw;
    color: white;
    font-size: 25px;
    font-weight: bold;
  }

  .nav-landingpage:hover {
    background: transparent;
    margin-right: 10vw;
    color: white;
    font-size: 25px;
    font-weight: bold;
  }

  .nav-links-btn {
    border-radius: 4px;
    background: #acd0a6;
    padding: 1vmin 2vmin;
    color: #000000;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    /* Second Nav */
    /* margin-left: 10vw; removed to accomodate "welcome user" message */
  }

  .nav-links-btn:hover {
    transition: all 0.2s ease-in-out;
    background: #fff;
    color: #808080;
  }

  li:hover {
    background-color: white;
  }
  li:hover .nav-links {
    color: black;
  }
  li:hover .nav-links-mobile {
    color: black;
  }