# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1

# Jira integration
orbs: 
  jira: circleci/jira@1.3.1

# Define a job to be invoked later in a workflow.
# See: https://circleci.com/docs/2.0/configuration-reference/#jobs
jobs:
  build:
    working_directory: ~/team67-project1
    docker:
      - image: circleci/node:12-browsers
    steps:
      - checkout
      - run:
          name: Update NPM
          command: "sudo npm install -g npm"
      - restore_cache:
          key: dependency-cache-{{ checksum "classhub/package-lock.json" }}
      - run:
          name: Install Dependencies
          command: npm install
      - save_cache:
          key: dependency-cache-{{ checksum "classhub/package-lock.json" }}
          paths:
            - ./node_modules
      - restore_cache:
          key: dependency-cache-{{ checksum "classhub/backend/package-lock.json" }}
      - run:
          name: Install Backend Dependencies
          path: ~/team67-project1/classhub/backend
          command: npm install
      - save_cache:
          key: dependency-cache-{{ checksum "classhub/backend/package-lock.json" }}
          paths:
            - ./node_modules
      - run:
          name: Run the application
          path: ~/team67-project1/classhub/backend
          command: node server.js
          background: true
      - run:
          name: Run tests
          command: npm run test
  say-hello:
    # Specify the execution environment. You can specify an image from Dockerhub or use one of our Convenience Images from CircleCI's Developer Hub.
    # See: https://circleci.com/docs/2.0/configuration-reference/#docker-machine-macos-windows-executor
    docker:
      - image: cimg/base:stable
    # Add steps to the job
    # See: https://circleci.com/docs/2.0/configuration-reference/#steps
    steps:
      - checkout
      - run:
          name: "Say hello"
          command: "echo Hello, World!"

# Invoke jobs via workflows
# See: https://circleci.com/docs/2.0/configuration-reference/#workflows
workflows:
  say-hello-workflow:
    jobs:
      - say-hello
  test-workflow:
    jobs:
      - build
