.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.create-page {
  width: 50%;
  border: 4px solid black;
  padding: 12px;
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
}

.create-page input {
  width: 80%;
  padding: 12px 20px;
  margin: 8px;
  border: 3px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.create-page button {
  background-color: #000000;
  color: white;
  border: 3px solid rgb(0, 0, 0);
  cursor: pointer;
}

.create-page input:hover {
  border: 3px solid #555;
}